<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>TurboBean</title>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/plot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuzzysort@3.1.0/fuzzysort.min.js"></script>
</head>

<body x-data="app" @navigate.window="navigate($event.detail)">
    <header>
        <img class="logo" :class="loading ? 'wiggle' : ''" src="/static/img/logo.png" />
        <div class="crumbs" x-text="router.getCrumbs()"></div>
        <div class="filter">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" x-model="filter.startDate">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" x-model="filter.endDate">
        </div>
    </header>
    <nav @keydown.g.window="open(); $nextTick(() => $refs.input.focus())" x-data="nav([
            {
                 route: '/income_statement',
                 text: 'Income Statement',
                 weight: 2,
            },
            {
                 route: '/balance_sheet',
                 text: 'Balance Sheet',
                 weight: 2,
            },

            .nav_account
            {{
                 route: '/journal/{[account]s}',
                 text: '{[account]s}',
                 weight: 1,
            }},

            .nav_end
        ])">
        <div class="modal" x-show="isOpen" @mouseup.outside="close()">
            <div class="input">
                <input type="text" placeholder="Go to..." x-ref="input" x-model="query" @input="search"
                    @keydown.escape.prevent="close()" @keydown.down.prevent="down" @keydown.ctrl.n.prevent="down"
                    @keydown.ctrl.p.prevent="up" @keydown.up.prevent="up"
                    @keydown.enter.prevent="$dispatch('navigate', results[index].route); close()">
            </div>
            <div class="results">
                <template x-for="result in results">
                    <div class="result" :class="index === result.index ? 'active' : ''"
                        @mouseover="index = result.index" @click="$dispatch('navigate', result.route); close()"
                        x-html="result.html"></div>
                </template>
            </div>
        </div>
    </nav>
    <content x-ref="content">
        Content
    </content>
</body>

</html>
