<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Zigcount</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/index.js"></script>
</head>

<body>
    <header>
        <div id="spinner"
            class="htmx-indicator h-4 w-4 animate-spin rounded-full border-3 border-solid border-sky-500 border-r-transparent">
        </div>
        Header
    </header>
    <nav>
        Nav
        <form>
            <input type="text" name="account" placeholder="Account.."><br />
            <button>Go</button>
        </form>
    </nav>
    <content>
        Content
    </content>
</body>

</html>
