.table
<div class="table-container">
    <table class="journal">
        <thead>
            <tr>
                <td>Date</td>
                <td>Flag</td>
                <td>Payee / Narration</td>
                <td class="right">Change</td>
                <td class="right">Balance</td>
            </tr>
        </thead>
        <tbody>

            .tx_row
            <tr>
                <td class="nowrap">{[date]any}</td>
                <td class="nowrap flag">{[flag]s}</td>
                <td class="narration">

                    .payee
                    <b>{[payee]s}</b>

                    .separator
                    <span class="separator"></span>

                    .narration
                    {[narration]s}

                    .tx_row_2
                </td>
                <td class="nowrap change">{[change_units]any:.2} {[change_cur]s}</td>
                <td class="nowrap">

                    .balance_cur
                    <div class="balance">{[units]any:.2} {[cur]s}</div>

                    .end_tx_row
                </td>


            </tr>

            .open_row
            <tr>
                <td class="nowrap">{[date]any}</td>
                <td class="special">open</td>
                <td colspan=3></td>
            </tr>

            .end_table
        </tbody>
    </table>
</div>
