.table
<div class="journal">
    <div class="row header">
        <div class="cell">Date</div>
        <div class="cell">Flag</div>
        <div class="cell">Payee / Narration</div>
        <div class="cell right">Change</div>
        <div class="cell right">Balance</div>
    </div>

    <!-- TRANSACTION -->
    .transaction
    <div class="row">
        <div class="cell nowrap date">{[date]any}</div>
        <div class="cell nowrap flag {[highlight]s}">{[flag]s}</div>
        <div class="cell payee-narration">
            <div class="payee-narration-inner">

                .transaction_payee
                <span class="payee">{[payee]s}</span>

                .transaction_separator
                <span class="separator"></span>

                .transaction_narration
                <span class="narration">{[narration]s}</span>

                .transaction_legs
            </div>
            <div class="legs" @click="$store.txOpen.toggle('{[hash]d}')">

                .transaction_leg
                <div class="leg"></div>

                .transaction_legs_end
            </div>
        </div>
        <div class="cell nowrap change right">{[change_units]any:.2} {[change_cur]s}</div>
        <div class="cell nowrap right">
            <div class="balances">
                .transaction_balance_cur
                <div class="balance">{[units]any:.2} {[cur]s}</div>

                .transaction_balance_end
            </div>
        </div>

        <div class="postings" x-show="$store.txOpen.open['{[hash]d}']">
            .transaction_posting
            <div class="tree">
                .tree_middle
                <svg viewBox="0 0 20 30">
                    <path d="M 10,0 L 10,30 M 10,16 L 20,16" stroke="hsl(0deg 0% 80%)" stroke-width="1.75"
                        fill="none" />
                </svg>

                .tree_last
                <svg viewBox="0 0 20 30">
                    <path d="M 10,0 L 10,16 L 20,16" stroke="hsl(0deg 0% 80%)" stroke-width="1.75" fill="none" />
                </svg>

                .tree_end
            </div>
            <div class="account">{[account]s}</div>
            <div class="posting_change">{[change_units]any:.2} {[change_cur]s}</div>

            .transaction_end
        </div>
    </div>

    <!-- OPEN -->
    .open
    <div class="row">
        <div class="cell nowrap date">{[date]any}</div>
        <div class="cell flag special">open</div>
        <div class="cell colspan3-6"></div>
    </div>

    .table_end
</div>
