.table
<div class="inner-container">
    <table class="journal">
        <thead>
            <tr>
                <td>Date</td>
                <td>Flag</td>
                <td>Payee / Narration</td>
                <td>Change</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>

            .tx_row
            <tr>
                <td class="nowrap">{[date]any}</td>
                <td class="nowrap flag">{[flag]s}</td>
                <td class="narration">{[payee]?s} {[narration]?s}</td>
                <td class="nowrap change">{[change_units]any} {[change_cur]s}</td>
                <td class="nowrap balance">

                    .balance_cur
                    {[units]any} {[cur]s} </br>

                    .end_tx_row
                </td>


            </tr>

            .open_row
            <tr>
                <td class="nowrap">{[date]any}</td>
                <td class="special">open</td>
                <td colspan=3></td>
            </tr>

            .end_table
        </tbody>
    </table>
</div>
