<div class="plot_header">
    <div id="legend">
    </div>

    .settings
    <div class="settings">
        <select name="conversion" x-model="filter.conversion">
            <option value="units">Show Units</option>

            .operating_currency
            <option value="{[currency]s}">Convert to {[currency]s}</option>

            .end_conversions
        </select>

        <select name="interval" x-model="filter.interval">
            <option value="day">Daily</option>
            <option value="week">Weekly</option>
            <option value="month">Monthly</option>
            <option value="quarter">Quarterly</option>
            <option value="year">Yearly</option>
        </select>
    </div>
</div>

.plot
<div id="d3" x-data="d3">
    <svg viewBox="0,0 5,1">
        <defs>
            <pattern id="stripes" patternUnits="userSpaceOnUse" width="2.5" height="2.5" patternTransform="rotate(45)">
                <line x1="0" y="0" x2="0" y2="2.5" stroke="#000000" stroke-width="1" />
            </pattern>
        </defs>
    </svg>
    <div class="tooltip"></div>
</div>
