@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@400;500;700&display=swap');

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

content {
  grid-area: content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

/*********************** HEADER *************************/

header {
  background-color: hsl(222deg 0% 90%);
  border-bottom: 1px solid #d3d3d3;
  padding: 5px;

  display: flex;
  align-items: center;
  gap: 10px;
}

header img.logo {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
  filter:
    drop-shadow(
      1px 2px 3px hsl(220deg 60% 50% / 0.3)
    )
    drop-shadow(
      2px 4px 6px hsl(220deg 60% 50% / 0.3)
    );
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-4deg); }
  100% { transform: rotate(0deg); }
}

header img.wiggle {
  animation: wiggle 0.5s ease-in-out infinite;
}

header .crumbs {
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  flex-grow: 1;
}

header .filter {
  display: flex;
  align-items: center;
  gap: 5px;
}

/************************ D3 *****************************/

.tooltip {
  position: absolute;
  background: hsl(0deg 0% 0% / 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  display: none;
}

#d3 {
  /* border: 1px solid #d3d3d3; */
  /* background-color: hsl(222deg 10% 95%); */
  /* border-radius: 5px; */
  /* box-shadow: */
  /*   1px 1px 4px hsl(0deg 0% 0% / 0.07), */
  /*   2px 2px 5px hsl(0deg 0% 0% / 0.07); */
}

#d3 text {
  font-size: 12px;
}

#d3 .mono {
  font-family: "Fira Mono", monospace;
}

#d3 .sans {
  font-family: "Fira Sans", sans-serif;
}

/************************* NAV ***************************/

nav .modal {
  position: fixed;
  inset: 0px;
  width: 70%;
  height: 300px;
  bottom: 25vh;
  max-width: 100vw;
  max-height: 75vh;
  margin: auto;
  background: white;

  display: flex;
  flex-direction: column;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  --shadow-color: 0deg 0% 63%;
  box-shadow:
    0.4px 0.5px 1px hsl(var(--shadow-color) / 0),
    7.1px 7.9px 15.9px hsl(var(--shadow-color) / 0.21),
    13.8px 15.2px 30.8px hsl(var(--shadow-color) / 0.42),
    24.4px 27px 54.6px hsl(var(--shadow-color) / 0.63),
    43.1px 47.6px 96.3px hsl(var(--shadow-color) / 0.84);
}

nav .modal .input {
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}

nav .modal input {
  width: 100%;
  border: none;
  padding: 0px;
}

nav .modal input:focus {
  outline: none;
}

nav .modal .results {
  flex-grow: 1;
  overflow-y: scroll;
}

nav .modal .result {
  padding: 5px;
  cursor: pointer;
}

nav .modal .result mark {
  color: hsl(222deg 50% 50%);
  background-color: hsl(222deg 50% 90%);
  border-radius: 2px;
}

nav .modal .result.active {
  background-color: hsl(222deg 10% 95%);
}

/************************ JOURNAL ***************************/

.journal {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow:
    1px 1px 6px hsl(0deg 0% 0% / 0.07),
    2px 2px 8px hsl(0deg 0% 0% / 0.07),
    3px 3px 10px hsl(0deg 0% 0% / 0.07);

  overflow-y: scroll;
  max-height: 100%;

  display: grid;
  grid-template-columns: 0fr 0fr 1fr 0fr 0fr;
}

.journal .row {
  display: contents;
}

.journal .row:nth-child(odd of .row) > .cell,
.journal .row:nth-child(odd of .row) > .postings {
  background-color: #f5f5f5;
}

.journal .row .flag {
  color: #555;
  justify-content: center;
}

.journal .row .date {
  font-family: "Fira Mono", mono;
}

.journal .row .nowrap {
  white-space: nowrap;
  width: auto;
  min-width: fit-content;
}

.journal .row .special {
  background-color: hsl(222deg 100% 88%) !important;
}

.journal .row .flagged {
  background-color: hsl(22deg 100% 80%) !important;
}

.journal .row .payee-narration {
  display: flex;
  gap: 20px;
  min-width: 0;
}

.journal .row .payee-narration .payee-narration-inner {
  display: flex;
  gap: 3px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.journal .row .payee-narration-inner .payee {
  font-weight: 500;
  font-style: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
}

.journal .row .payee-narration-inner .separator::before {
  padding: 2px;
  margin: 0 2px;
  font-weight: 500;
  font-style: medium;
  color: hsl(0deg 0% 50%);
  content: "\2022";
}

.journal .row .payee-narration-inner .narration {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 2;
  min-width: 0;
}

.journal .row .payee-narration .legs {
  display: flex;
  gap: 3px;
  height: calc(14rem / 16 * 1.5);
  align-items: center;
  cursor: pointer;
}

.journal .row .payee-narration .legs .leg {
  border-radius: 3px;
  background-color: hsl(0deg 0% 80%);
  width: 6px;
  height: 6px;
}

.journal .row .cell {
  padding: 2px 5px;
  display: flex;
  align-items: flex-end;
}

.journal .row .change {
  font-family: "Fira Mono", mono;
  font-weight: 500;
  font-style: medium;
  text-align: right;
  white-space: pre;
}

.journal .row .balances {
  display: flex;
  flex-direction: column;
}

.journal .row .balance {
  font-family: "Fira Mono", mono;
  text-align: right;
  white-space: pre;
}

.journal .row .colspan3-6 {
  grid-column: 3 / 6;
}

.journal .header .cell {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 500;
  font-style: medium
}

.journal .row .right {
  justify-content: flex-end;
}

.journal .postings {
  grid-column: 1 / 6;
  display: grid;
  column-gap: 5px;
  row-gap: 0px;
  grid-template-columns: 0fr 0fr 0fr;
  padding-bottom: 2px;
  padding-left: 5px;
}

.journal .postings .posting_change {
  font-family: "Fira Mono", mono;
  text-align: right;
  white-space: pre;
  white-space: nowrap;
  padding: 0px 5px;
}

.journal .postings .tree {
   width: calc(14rem / 16);
   height: calc(14rem / 16 * 1.5);
}
